<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>磁力链接转种子 | 种子转磁力链接</title>
<meta name="title" content="磁力链接转种子 | 种子转磁力链接">
<meta name="keywords" content="磁力,种子，磁力转种子、种子转磁力">
<meta name="description" content="磁力链接转种子 | 种子转磁力链接">
<link rel="stylesheet" href="./css/layui.css" media="all">
<style>
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#main {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: relative; /*脱离文档流*/
	top: 20%; /*偏移*/
}

#exMagnet {
	max-width: 90%;
	min-width: 80%;
}

#exTorrent {
	max-width: 90%;
	min-width: 80%;
}

#startEx {
	max-width: 20%;
	min-width: 8%;
}
</style>
<script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script src="./layui.js"></script>
<script>
	layui.use('layer', function() { //独立版的layer无需执行这一句
		var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
	});

	$(function() {
		$("#startExTorrent").click(
				function() {
					//按钮置灰
					$("#startExTorrent").removeAttr("class");
					$("#startExTorrent").attr("class",
							"layui-btn layui-btn-disabled");
					$("#startExTorrent").text("转换中...");
					$.post(
							"/magnet/torrentPre",
							{
								magnet : $("#magnet").val()
							},
							function(data) {
								if (data.success) {
									var url = "/magnet/torrent";
									var form = $("<form></form>").attr(
											"action", url).attr("method",
											"post");
									form.append($("<input></input>").attr(
											"type", "hidden").attr("name",
											"magnet").attr("value",
											$("#magnet").val()));
									form.appendTo('body').submit().remove();
								} else {
									layer.msg(data.message);
								}
								$("#startExTorrent").removeAttr("class");
								$("#startExTorrent").attr("class",
										"layui-btn layui-btn-normal");
								$("#startExTorrent").text("开始转换");
							}).error(
							function(data) {
								layer.msg('种子获取超时，请检查磁链是否正确后重试。');
								$("#startExTorrent").removeAttr("class");
								$("#startExTorrent").attr("class",
										"layui-btn layui-btn-normal");
								$("#startExTorrent").text("开始转换");
							})
					return false;
				});

		$("#startExMagnet").click(function() {
			var formData = new FormData($("#exTorrentForm")[0]);
			$.ajax({
				url : '/torrent/magnet',
				dataType : 'json',
				type : 'POST',
				data : formData,
				processData : false,
				contentType : false, // 不要设置Content-Type请求头
				success : function(data) {
					$('#magnetShow').text(data.data);
				},
				error : function(response) {
					layer.msg('转换失败，请检查种子文件是否正确后重试。');
				}
			});
			return false;
		});
	});
</script>
</head>
<body>
	<div id="main">
		<img alt="" src="./images/logo.png" id="logo"> <br /> <br /> <br />
		<br />
		<form class="layui-form layui-form-pane" action="">
			<div class="layui-inline" id="exMagnet">
				<input id="magnet" type="text" placeholder="请输入磁力链接"
					autocomplete="off" class="layui-input"></input>
			</div>
			<button class="layui-btn layui-btn-normal" id="startExTorrent">开始转换</button>
		</form>
		<br />
		<hr />
		<br />
		<form id="exTorrentForm" class="layui-form layui-form-pane" action=""
			enctype="multipart/form-data">
			<div class="layui-inline" id="exTorrent">
				<input id="torrentFile" type="file" name="torrentFile"
					class="layui-input"></input>
			</div>
			<button class="layui-btn" id="startExMagnet">开始转换</button>
		</form>
		<br />
		<blockquote id="magnetShow" class="layui-elem-quote layui-quote-nm">
		</blockquote>
	</div>
</body>
</html>