<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>磁力转种子</title>
<link rel="stylesheet" href="./css/layui.css" media="all">
<style>
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#main {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: relative; /*脱离文档流*/
	top: 30%; /*偏移*/
}

#searchMagnet {
	max-width: 90%;
	min-width: 80%;
}

#startEx {
	max-width: 20%;
	min-width: 8%;
}
</style>
<script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script src="./layui.js"></script>
<script>
	
	layui.use('layer', function(){ //独立版的layer无需执行这一句
		  var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
	});  

	$(function() {
		$("#startEx").click(
				function() {
					$.post(
							"/magnet/torrentPre",
							{
								magnet : $("#magnet").val()
							},
							function(data) {
								if (data.success) {
									var url = "/magnet/torrent";
									var form = $("<form></form>").attr(
											"action", url).attr("method",
											"post");
									form.append($("<input></input>").attr(
											"type", "hidden").attr("name",
											"magnet").attr("value",
											$("#magnet").val()));
									form.appendTo('body').submit().remove();
								} else {
									layer.msg(data.message);
								}
							}).error(function(data) {
						layer.msg('种子获取超时，请检查磁链是否正确后重试。');
					})
					return false;
				});
	});
</script>
</head>
<body>
	<div id="main">
		<img alt="" src="./images/logo.png" id="logo"> <br /> <br /> <br />
		<br />
		<form class="layui-form layui-form-pane" action="">
			<div class="layui-inline" id="searchMagnet">
				<input id="magnet" type="text" placeholder="请输入磁力链接"
					autocomplete="off" class="layui-input"></input>
			</div>
			<button class="layui-btn layui-btn-normal" id="startEx">开始转换</button>
		</form>
		<br /> <br />
		<!-- <div class="layui-progress" lay-showPercent="yes">
			<div class="layui-progress-bar" lay-percent="0%"></div>
		</div> -->
	</div>
</body>
</html>